*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #FFFFFF;
  width: 90%;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}
// @media (max-width: 500px) {
//   html {
//     font-size: 35%;
//   }
// }
